.bg-primary
{
    background-color: #264653 !important;
}
.bg-secondary
{
    background-color:#FFB703 !important;
}
.background
{
    background-color: #F8F1E7 !important;
}
.banner
{
    width: 100%;
    aspect-ratio: 1/1;
    background-image: url('../image/banner2.png');
    background-size: cover;
    /* height:750px; */
    /* background-size: contain; */
    background-repeat: no-repeat;
}
.chapter-name {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25); /* X Y Blur Color */
    border-radius: 10px;
    padding: 15px;
    background-color: #fff;
    transition: 0.3s ease;
}
.chapter-name:hover {
    transform: scale(1.03);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.35);
}